<!-- Generated template for the SideBarComponent component -->
<section class="content">
	<img src="../assets/imgs/bxb-logo-circle.svg"/>
  <nav>
  	<p class="title">Menu</p>
  	<ion-item [ngClass]="{'selected':hl=='dashboard'}">
  		<a class="link" href='/#/hr-dashboard'>
  			<svg enable-background="new 0 0 433.5 433.5" version="1.1" viewBox="0 0 433.5 433.5" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
        		<path d="M153,382.5h127.5v-153H153V382.5z M0,382.5h127.5V51H0V382.5z M306,382.5h127.5v-153H306V382.5z M153,51v153h280.5V51H153    z"></path>
        	</svg>
        	<b>Dashboard</b>
    	</a>
  	</ion-item>
  	<ion-item [ngClass]="{'selected':hl=='creditsum'}">
  		<a class="link" href='/#/loans'>
  			<svg enable-background="new 0 0 433.5 433.5" version="1.1" viewBox="0 0 433.5 433.5" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
        		<path d="m0 255h51v-51h-51v51zm0 102h51v-51h-51v51zm0-204h51v-51h-51v51zm102 102h357v-51h-357v51zm0 102h357v-51h-357v51zm0-255v51h357v-51h-357z"></path>
        	</svg>
        	<b>Credit Summary</b>
    	</a>
  	</ion-item>
  	<ion-item [ngClass]="{'selected':hl=='employees'}">
  		<a class="link">
  			<ion-icon name="md-person"></ion-icon>
        	<b>Employees</b>
    	</a>
  	</ion-item>
  	<ion-item class="sub">
  		<a class="link">
  			All
  		</a>
  	</ion-item>
  	<ion-item class="sub">
  		<a class="link">
  			Add Employees
  		</a>
  	</ion-item>
  	<ion-item [ngClass]="{'selected':hl=='account'}">
  		<a class="link">
  			<ion-icon name="md-desktop"></ion-icon>
        	<b>Statement of Account</b>
    	</a>
  	</ion-item>
  	<ion-item [ngClass]="{'selected':hl=='logs'}">
  		<a class="link">
  			<ion-icon name="ios-list-box"></ion-icon>
        	<b>Activity Log</b>
    	</a>
  	</ion-item>
  </nav>
</section>
