side-bar {
	section.content{
		display:block;
		margin:0;
		padding:0.5vw 2vw 2vw;
		min-height:100vh;
		position:fixed;
		top:0;
		left:0;
		width:220px;
		background-color:transparent;
		background-image:url('../assets/imgs/sidebar.png');
		background-size:cover;
		background-repeat:no-repeat;
		z-index:5;

		img{
			width:90px;
			height:90px;
			object-fit:cover;
			object-position:center;
			display:block;
			margin:1vh auto 3vh;
			background-color:#fff;
			border-radius:100%;
		}

		nav{

			ion-item{
				display:table;
				cursor:pointer;
				background-color:inherit;

				div.item-inner{
					border-bottom:0 !important;
				}

				a.link{
					color:#fff;
					font-size:14px;
					text-decoration:none;

					svg, ion-icon{
						height:18px;
					    width: 18px;
					    display: inline-table;
					    vertical-align: top;
					    fill:#fff;

					    path{
					    	white-space:nowrap;
					    	text-align:left;
					    }
					}

					b{
						font-weight:100;
						display:inline-table;
						vertical-align:middle;
						color:inherit;
						font-size:inherit;
					}
				}

				&.selected{
						background-color:#fff;
						border-radius:8px;
					a.link{
						svg{
					    	fill:#333;
						}

						ion-icon{
							color:#333;
						}

						b{
							color:#333;
						}
					}
				}

				&.sub{
					padding-left:5vw;
				}
			}

		}

	}

}


ion-menu{
	.menu-inner{
		side-bar{
			.content{
				width:100%;
				padding:4vw;

				p.title{
					font-size: 2.5vh;
				}
				
				ion-item{

					.link{
						font-size:2.5vh;
					}

				}
			}
		}
	}
}