page-employee-info-modal {
	ion-header{
		ion-navbar{
			ion-title{
				&.title-ios.title{
					padding:0 3vw;
					div.toolbar-title.toolbar-title-ios{
						text-align:left;
						width:100%;
					}
				}

			}
		}
	}

	ion-content{

		section.main-content{
			position:relative;
			p{
				width:100%;
				display:block;
				position:relative;
				clear:both;
				text-align:right;
				b.label{
					float:left;
				}
			}
		}

	}


	ion-footer{
		text-align:right;
		button[ion-button]{
			background-color:inherit;
			border-radius:8px;
			border:0;
			box-shadow:0 0 2px 1px #888;
			color:#333;
			display:inline-table;
			padding:0 2vh;

			ion-icon{
				margin-right:1vw;
				font-size:20px;
			}

			&.remove{
				color:#fff;
				background-color:#D9534F;
			}
		}
	}

}
