page-preterm-application-modal {
	ion-header{
		ion-navbar{
			ion-title{
				&.title-ios.title{
					padding:0 3vw;
					div.toolbar-title.toolbar-title-ios{
						text-align:left;
						width:100%;
					}
				}

			}
		}
	}

	ion-content{
		section.content{
			position:relative;
			display:inline-block;
			width:100%;
			clear:both;
			padding:1vh 3vw;

			span.header{
				width:100%;
				display:inline-table;

				&>*{
					display:inline-block;
					vertical-align:middle;
				}

				div.title{
					width:calc(100% - 90px);
					font-size:24px;
					ion-icon{
						display:inline-block;
						vertical-align:middle;
						padding:0 1vw 0 0;
					}
				}

				button{
					width:90px;
					margin:0;
     				background-color: #0067ff;
     				border-radius:50px;
					ion-icon{
						margin-right:0.6vw;
					}
				}
			}

			div.body{
				padding:1vh;
				ion-row{

					ion-col{
						font-family:'Roboto', sans-serif;
						font-weight:bolder;
						&.bundle{
							background-color:#f7f7f7;
							margin:0.5vh auto;
							padding:0 1.5vw 0 0;
							ion-col{
								padding:1.5vh 1vh;
							}
							&::after{
								content: "";
							    position: absolute;
							    top: 0;
							    right: 0;
							    height: 100%;
							    width: 1vw;
							    background-color: #fff;
							}

							ion-col[col-12]{
								text-align:right;
								b{
									float:left;
								}
							}

							[col-5]{
								p{
									text-align:right;
									margin:1vh 0 0;
									font-family:'Roboto',sans-serif;
									font-weight:normal;
								}
							}
						}

						&.label{
							text-align:left;
						}

						&.data{
							text-align:right;
						}

						span.content{
							display: inline-block;
							position:relative;
							width:65%;
							height:45px;
							border-radius:8px;
							background-color: #f7f7f7;
							border:0;
							box-shadow: 0 0 2px 0px #333;
							padding:1vh 2vh;
							input[type=text]{
								display:inline-block;
								width:100%;
								height:100%;
								position:relative;
								border:0;
								background-color:inherit;
								padding:0;
							}
						}
					}
				}
			}

			&.mobile{
				padding:1vh 1vw;
				div.body{
					ion-row{

						ion-col{
							&:not(.bundle){
								flex:none;
								&.label{
									padding:0.5vh 1vh;
								}

								&.data{
									padding:0.5vh 1vh 1.5vh;
									text-align:left;
									font-weight:normal;
								}
							}
						}

					}
				}

			}//section.mobile

		} // section.content
	} //end of ion-content

	ion-footer{
		text-align:right;
		button[ion-button]{
			background-color:#488aff;
			border-radius:8px;
			border:0;
			box-shadow:0 0 2px 1px #888;
			color:#333;
			display:inline-table;
			padding:0 2vh;
			color:#fff;
			height:35px;

			ion-icon{
				margin-right:1vw;
				font-size:20px;
			}
		}
	}

}
