<ion-header>

  <ion-navbar>
    <ion-title>
  	<ion-icon (tap)="close()" name="ios-close" style="float:right;"></ion-icon></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="printarea">
	<section class="main-content">
		<span class="header">
			<img src="../assets/imgs/logo.png"/>
		</span>
		<ion-row>
			<ion-col class="head" col-7>
				STATEMENT OF ACCOUNT
			</ion-col>
			<ion-col class="head" col-2>
				Company Code
			</ion-col>
			<ion-col col-3>
				001
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-7>
				SOA Ref# {{data?.soaNo}}
			</ion-col>
			<ion-col col-2>
				Billing Period
			</ion-col>
			<ion-col col-3>
				- {{data?.billPeriod}}
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-7>
				{{data?.company}}	
			</ion-col>
			<ion-col col-2>
				Due Date	
			</ion-col>
			<ion-col col-3>
				{{data?.billPeriod}}
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-7>
				6805 Ayala Avenue, Multinational Bancorp Building, Makati City Metro Manila	
			</ion-col>
			<ion-col col-2>
				Amount Due	
			</ion-col>
			<ion-col col-3>
				{{data?.amt | number:'1.0-2'}}
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-7>
				&nbsp;
			</ion-col>
			<ion-col col-2>
				Previous Balance
			</ion-col>
			<ion-col col-3>
				0.00
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-7>
				&nbsp;
			</ion-col>
			<ion-col col-2>
				Other Fees
			</ion-col>
			<ion-col col-3>
				{{(lineTotal * -1) | number:'1.0-2'}}
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-7>
				&nbsp;
			</ion-col>
			<ion-col col-2>
				Total Amount Due
			</ion-col>
			<ion-col col-3>
				{{(data?.amt - lineTotal) |  number:'1.0-2'}}
			</ion-col>
		</ion-row>
		<hr class="blocker">
		<p class="title">
			CURRENT BALANCE
		</p>

		<ion-row>
			<ion-col class="head">
				Transaction Date
			</ion-col>
			<ion-col class="head">
				Credit Availment Number
			</ion-col>
			<ion-col class="head">
				Member ID
			</ion-col>
			<ion-col class="head">
				First Name
			</ion-col>
			<ion-col class="head">
				Last Name
			</ion-col>
			<ion-col class="head">
				Seqno
			</ion-col>
			<ion-col class="head">
				Employee ID
			</ion-col>
			<ion-col class="head">
				Transaction Type
			</ion-col>
			<ion-col class="head">
				Repayment Amount
			</ion-col>
			<ion-col class="head">
				Status
			</ion-col>
		</ion-row>

		<ion-row *ngFor = "let cb of currentBalance; let i = index">
			<ion-col>
				{{cb?.transDate}}
			</ion-col>
			<ion-col>
				{{cb?.creditAvailmentNumber}}
			</ion-col>
			<ion-col>
				{{cb?.memberID}}
			</ion-col>
			<ion-col>
				{{cb?.firstName}}
			</ion-col>
			<ion-col>
				{{cb?.lastName}}
			</ion-col>
			<ion-col>
				{{cb?.seqNo}}/{{cb?.term}}
			</ion-col>
			<ion-col>
				{{cb?.empID}}
			</ion-col>
			<ion-col>
				{{cb?.transType}}
			</ion-col>
			<ion-col>
				{{cb?.repaymentAmt | currency:'PHP':'symbol-narrow':'1.0-2'}}
			</ion-col>
			<ion-col>
				{{cb?.status}}
			</ion-col>
		</ion-row>

		<hr class="blocker">
		<p class="title">
			PREVIOUS BALANCE
		</p>

		<ion-row>
			<ion-col class="head">
				Transaction Date
			</ion-col>
			<ion-col class="head">
				Credit Availment Number
			</ion-col>
			<ion-col class="head">
				First Name
			</ion-col>
			<ion-col class="head">
				Last Name
			</ion-col>
			<ion-col class="head">
				Seqno
			</ion-col>
			<ion-col class="head">
				Employee ID
			</ion-col>
			<ion-col class="head">
				Transaction Type
			</ion-col>
			<ion-col class="head">
				Repayment Amount
			</ion-col>
			<ion-col class="head">
				Status
			</ion-col>
		</ion-row>

		<ion-row *ngFor = "let pb of prevBalance; let i = index">
			<ion-col>
				{{pb?.transDate}}
			</ion-col>
			<ion-col>
				{{pb?.creditAvailmentNumber}}
			</ion-col>
			<ion-col>
				{{pb?.firstName}}
			</ion-col>
			<ion-col>
				{{pb?.lastName}}
			</ion-col>
			<ion-col>
				{{pb?.seqNo}}
			</ion-col>
			<ion-col>
				{{pb?.empID}}
			</ion-col>
			<ion-col>
				{{pb?.transType}}
			</ion-col>
			<ion-col>
				{{pb?.repaymentAmt | currency:'PHP':'symbol-narrow':'1.0-2'}}
			</ion-col>
			<ion-col>
				{{pb?.status}}
			</ion-col>
		</ion-row>

		<hr class="blocker" *ngIf="lineItems.length > 0">
		<p class="title" *ngIf="lineItems.length > 0">
			OTHER FEES
		</p>

		<ion-row *ngIf="lineItems.length > 0">
			<ion-col col-5 class="head">
				&nbsp;
			</ion-col>
			<ion-col col-2 class="head">
				Label
			</ion-col>
			<ion-col col-2 class="head">
				Value
			</ion-col>
			<ion-col col-3 class="head">
				&nbsp;
			</ion-col>
		</ion-row>

		<ion-row *ngFor = "let li of lineItems; let i = index">
			<ion-col col-5 class="head">
				&nbsp;
			</ion-col>
			<ion-col col-2>
				{{li?.label}}
			</ion-col>
			<ion-col col-2>
				{{li?.amt | currency:'PHP':'symbol-narrow':'1.0-2'}}
			</ion-col>
			<ion-col col-3 class="head">
				&nbsp;
			</ion-col>
		</ion-row>
		<p class="title strong">
			END OF STATEMENT
		</p>
	</section>
</ion-content>

<ion-footer>
	<ion-row>
		<ion-col col-6>
			<button class="add line-item" ion-button (tap)="addItem()" *ngIf="accountType=='super' && !submitted">Add Line Item</button>
			<button class="sub line-item" ion-button (tap)="remItem()" *ngIf="accountType=='super' && !submitted">Subtract Line Item</button>
		</ion-col>
		<ion-col col-6>

			<button class="add line-item" ion-button (tap)="submit()" *ngIf="accountType=='super' && !submitted">Submit</button>
			<button class="print" ion-button (tap)="print()">
				<ion-icon name="md-print"></ion-icon>
				Print
			</button>
			<button ion-button (tap)="close()">
				<ion-icon name="ios-close-circle-outline"></ion-icon>
				Close
			</button>
		</ion-col>
	</ion-row>
</ion-footer>