<ion-content (window:resize)="reorient($event)" [ngClass]="{'mobile':isMobile}">
	<top-bar></top-bar>
	<side-bar *ngIf = "!isMobile" [highlights]="'creditsum'"></side-bar>

	<section class="main-content">
		<ion-row>
			<ion-col col-12>
				<submodule [title]="'Portfolio Loans/Loan Status'">
					
					<ion-segment [(ngModel)]="loanStatus" color="primary" (ionChange)="segmentChanged($event)">
						<ion-segment-button value="pending">
							Pending
					    </ion-segment-button>
					    <ion-segment-button value="approved">
					    	Approved
					    </ion-segment-button>
						<ion-segment-button value="cancel">
							Cancel
					    </ion-segment-button>
					    <ion-segment-button value="completed">
					    	Completed
					    </ion-segment-button>
					</ion-segment>

					<div [ngSwitch]="loanStatus" class='segmentable'>
						<div *ngSwitchCase = "'pending'">
							<sortable-table *ngIf="loans.pending.length > 0" [data]="loans?.pending" [headers]="sampKeys" [formats]="formats" [header_titles]="hdrTitles" [actions]="actions"></sortable-table>
							<p class="no-data" *ngIf="loans.pending.length == 0">
								No data
							</p>
							<!--span class="search">
								<ion-icon name="ios-search"></ion-icon>
								<input type="text" (keyup)="search($event)" placeholder="Search any fields"/>
							</span>
							<ion-grid class="table" *ngIf="!isMobile">
								<ion-row justify-content-center class="thead header">
									<ion-col >
										First Name
									</ion-col>
									<ion-col >
										Last Name
									</ion-col>
									<ion-col col-2>
										Transaction ID
									</ion-col>
									<ion-col >
										Date of Inception
									</ion-col>
									<ion-col >
										Term
									</ion-col>
									<ion-col >
										Amount
									</ion-col>
									<ion-col col-2>
										Purpose
									</ion-col>
								</ion-row>
								<ion-row justify-content-center class="data" *ngFor = "let rowData of searched?.pending; let i = index">
									<ion-col >
										{{rowData?.firstName}}
									</ion-col>
									<ion-col >
										{{rowData?.lastName}}
									</ion-col>
									<ion-col col-2>
										{{rowData?.transID}}
									</ion-col>
									<ion-col >
										{{rowData?.inceptionDate}}
									</ion-col>
									<ion-col >
										{{rowData?.term}}
									</ion-col>
									<ion-col >
										{{rowData?.amt | currency:'PHP':'symbol-narrow':'1.2-2'}}
									</ion-col>
									<ion-col col-2>
										{{rowData?.purpose}}
									</ion-col>
								</ion-row>
							</ion-grid>
							<ion-grid class="table" *ngIf="isMobile">
								<ion-row style="width:100%;">
									<ion-col col-12 style="width:100%; box-shadow: 0 0 3px 0 #333" class="data" *ngFor = "let rowData of searched?.pending; let i = index;">
										<ion-row>
											<ion-col col-6>
												<p class="label">Name</p>
												{{rowData?.firstName}} {{rowData?.lastName}}
											</ion-col>
											<ion-col col-6>
												<p class="label">Transaction ID</p>
												{{rowData?.transID}}
											</ion-col>
										</ion-row>
										<ion-row>
											<ion-col col-6>
												<p class="label">Date of Inception</p>
												{{rowData?.inceptionDate}}
											</ion-col>
											<ion-col col-6>
												<p class="label">Term</p>
												{{rowData?.term}}
											</ion-col>
										</ion-row>
										<ion-row>
											<ion-col col-6>
												<p class="label">Amount</p>
												{{rowData?.amt | currency:'PHP':'symbol-narrow':'1.2-2'}}
											</ion-col>
											<ion-col  col-6>
												<p class="label">Purpose</p>
												{{rowData?.purpose}}
											</ion-col>
										</ion-row>
									</ion-col>
								</ion-row>
							</ion-grid-->
						</div>
						<div *ngSwitchCase = "'approved'">
							<span class="search">
								<ion-icon name="ios-search"></ion-icon>
								<input type="text" (ionInput)="search($event)" placeholder="Search any fields"/>
							</span>
							<ion-grid class="table" *ngIf="!isMobile">
								<ion-row  justify-content-center class="thead header">
									<ion-col >
										First Name
									</ion-col>
									<ion-col >
										Last Name
									</ion-col>
									<ion-col col-2>
										Transaction ID
									</ion-col>
									<ion-col >
										Date of Inception
									</ion-col>
									<ion-col >
										Term
									</ion-col>
									<ion-col >
										Amount
									</ion-col>
									<ion-col col-2>
										Purpose
									</ion-col>
									<ion-col>
										&nbsp;
									</ion-col>
								</ion-row>
								<ion-row justify-content-center class="data" *ngFor = "let rowData of loans?.pending; let i = index">
									<ion-col >
										{{rowData?.firstName}}
									</ion-col>
									<ion-col >
										{{rowData?.lastName}}
									</ion-col>
									<ion-col col-2>
										{{rowData?.transID}}
									</ion-col>
									<ion-col >
										{{rowData?.inceptionDate}}
									</ion-col>
									<ion-col >
										{{rowData?.term}}
									</ion-col>
									<ion-col >
										{{rowData?.amt | currency:'PHP':'symbol-narrow':'1.2-2'}}
									</ion-col>
									<ion-col col-2>
										{{rowData?.purpose}}
									</ion-col>
									<ion-col col-1>
										<ion-icon (tap)="showModal(i)" style="color:#0067ff;font-size:2.3vw;" name="md-information-circle"></ion-icon>
									</ion-col>
								</ion-row>
							</ion-grid>
							<ion-grid class="table" *ngIf="isMobile">
								<ion-row style="width:100%;">
									<ion-col col-12 style="width:100%; box-shadow: 0 0 3px 0 #333" class="data" *ngFor = "let rowData of searched?.pending; let i = index;">
										<ion-row>
											<ion-col col-6>
												<p class="label">Name</p>
												{{rowData?.firstName}} {{rowData?.lastName}}
											</ion-col>
											<ion-col col-6>
												<p class="label">Transaction ID</p>
												{{rowData?.transID}}
											</ion-col>
										</ion-row>
										<ion-row>
											<ion-col col-6>
												<p class="label">Date of Inception</p>
												{{rowData?.inceptionDate}}
											</ion-col>
											<ion-col col-3>
												<p class="label">Term</p>
												{{rowData?.term}}
											</ion-col>
											<ion-col col-3 style=" text-align:right;">
												<ion-icon (tap)="showModal(i)" style="font-size:5vh; color:#0067ff;" name="md-information-circle"></ion-icon>
											</ion-col>
										</ion-row>
										<ion-row>
											<ion-col col-6>
												<p class="label">Amount</p>
												{{rowData?.amt | currency:'PHP':'symbol-narrow':'1.2-2'}}
											</ion-col>
											<ion-col  col-6>
												<p class="label">Purpose</p>
												{{rowData?.purpose}}
											</ion-col>
										</ion-row>
									</ion-col>
								</ion-row>
							</ion-grid>
						</div>
					</div>
				</submodule>
			</ion-col>
		</ion-row>
		<foot></foot>
	</section>

</ion-content>
