page-upload-csv {
	ion-content.content{
		background-color:#f7f7f7;

		side-bar{
			section.content{
				background-color: transparent;
			}
		}

		&.mobile{

			section.main-content{
				padding: 1vh 5vw;
				font-size:2.5vh;
				
			}
		}

		section.main-content{
			display:block;
			padding:1vh 2vw 1vh;
			padding-left:$side-bar-width;
			position:relative;

			div.body{
				min-height:65vh;
				position:relative;
				padding-left:2vw;
			}

		}


	}

}
