<ion-content (window:resize)="reorient($event)">
	<ion-fab top left *ngIf="!isMobile">
		<button ion-fab (tap)="toHome()"></button>
		<!--ion-fab-list side="right">
		   <button ion-fab mini>Button</button>
		   <button ion-fab mini>Button 2</button>
		</ion-fab-list-->
	 </ion-fab>

	 <section class="main" [ngClass]="{'mobile':isMobile}">
	 	<form name="employee-data">
		 	<span class="header" *ngIf = "isMobile">
		 		<button ion-button (tap)="toHome()"></button>
		 	</span>
	 		<h2>Forgot Password</h2>
	 		<ion-row>
	 			<p class="label">
	 				Email
	 			</p>
	 			<span class="content">
	 				<input type="text" name="email" [(ngModel)] = "email" />
	 			</span>
	 		</ion-row>
	 		<ion-row>
	 			<button ion-button (tap)="forgotten()">Submit</button>
	 		</ion-row>
	 	</form>
	 	<foot></foot>
	 </section>

</ion-content>
