sortable-table {

	ion-grid.grid.table{
		box-shadow:none;
		border:0;
		font-family: 'Roboto', sans-serif;
		ion-row{
			&.thead{
				ion-col{
					/*white-space:nowrap;
					text-overflow:ellipsis;
					overflow:hidden;*/
					text-align:left;
					text-transform:uppercase;
					font-weight:bold;
					letter-spacing:-0.1vh;
					padding:2.5px 10px 2.5px 0;
					word-wrap:normal;
					margin:0 -2px 0 0 !important;
					cursor:pointer;
					font-size:2vh;

					ion-icon{
						display:none;
						margin-left:2px;
					}

					&.col.sorting{
						&:not(.asc){
							ion-icon.dropdown{
								display:inline;
							}
						}
						&.asc{
							ion-icon.dropup{
								display:inline;
							}
						}
					}
				}
			}
			&.data{
				ion-col{
					text-align:center;
					padding:2.5px;
					margin:auto;
					div{
						font-family: 'Roboto', sans-serif;
						text-align:left;
					}


					ion-icon{

				     	color: rgb(0, 103, 255);
					    font-size: 5vh;
					    touch-action: pan-y;
					    user-select: none;
					    -webkit-user-drag: none;
					    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
						&:not(:first-of-type){
							margin-left:0.5vw;
						}
					}
				}
			}
		}

	}


	span.search{
		display:inline-block;
		border-radius:4px;
		box-shadow: 0 0 1px 0px #333;
		width:auto;
		margin:1vh 1vh 3vh;
		padding:0.5vw;
		position:relative;
		ion-icon{
			position: absolute;
		    top: 0;
		    left: 0;
		    display: block;
		    height: 100%;
		    width: 40px;
		    font-size: 20px;
		    text-align: center;
		    padding: 7px;
		    background-color: lightgray;
		}
		input{
			border:0;
			margin-left:40px;
			width:200px;
		}
	}

}

.mobile sortable-table{
	ion-grid{
		&>ion-row{
			&>ion-col{
				p.label{
					white-space:nowrap;
					font-size:3.3vw !important;
					font-weight:bolder;
				}
				ion-row,ion-col{
					padding:0;
					font-size:2vh;
					button[ion-button]{
						width:auto;
						max-width:100%;
						padding:1vw;
						color:#315A96;
						background-color:transparent;
						border:0;
						-webkit-appearance:none;
						box-shadow:none;
					}
				}

				div.expandable{
					max-height:0;
					display:block;
					overflow:hidden;
					transition-property: max-height;
					transition-duration: 0.5s;
					&.expanded{
						max-height:100vh;
					}
					span.item{
						padding:1vw;
						font-family:'Roboto',sans-serif;
						font-size:2.2vh;
						padding:1vw;
						font-weight:100;
						display:inline-block;
						width:49%;
						max-width:49%;
						div{
							font-family:'Roboto',sans-serif;

						}
						p.title{
							margin:0;
							padding:0;
							font-size:3.4vw;
							font-weight:700;
							width:100%;
						}	


						ion-icon{

					     	color: rgb(0, 103, 255);
						    font-size: 6vh;
						    touch-action: pan-y;
						    user-select: none;
						    -webkit-user-drag: none;
						    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
							&:not(:first-of-type){
								margin-left:2vh;
							}
						}
					}
				}

			}

		}
	}
}