sortable-table {

	ion-grid.grid.table{
		box-shadow:none;
		border:0;
		font-family: 'Roboto', sans-serif;
		ion-row{
			&.thead{
				ion-col{
					/*white-space:nowrap;
					text-overflow:ellipsis;
					overflow:hidden;*/
					text-align:center;
					text-transform:uppercase;
					font-weight:bold;
					letter-spacing:-0.1vh;
					padding:2.5px;
					word-wrap:normal;
					margin:0 -2px 0 0 !important;

					ion-icon{
						display:none;
						margin-left:2px;
					}

					&.col.sorting{
						&:not(.asc){
							ion-icon.dropdown{
								display:inline;
							}
						}
						&.asc{
							ion-icon.dropup{
								display:inline;
							}
						}
					}
				}
			}
			&.data{
				ion-col{
					text-align:center;
					padding:2.5px;
					margin:auto;
					div{
						font-family: 'Roboto', sans-serif;
					}
				}
			}
		}

	}
}

.mobile sortable-table{
	ion-grid{
		&>ion-row{
			&>ion-col{
				p.label{
					white-space:nowrap;
					font-size:3.3vw !important;
					font-weight:bolder;
				}
				ion-row,ion-col{
					padding:0;
					font-size:2vh;
					button[ion-button]{
						width:auto;
						max-width:100%;
						padding:1vw;
						color:#315A96;
						background-color:transparent;
						border:0;
						-webkit-appearance:none;
						box-shadow:none;
					}
				}

				div.expandable{
					max-height:0;
					display:block;
					overflow:hidden;
					transition-property: max-height;
					transition-duration: 0.5s;
					&.expanded{
						max-height:100vh;
					}
					span.item{
						padding:1vw;
						font-family:'Roboto',sans-serif;
						font-size:2.2vh;
						padding:1vw;
						font-weight:100;
						display:inline-block;
						width:49%;
						max-width:49%;
						div{
							font-family:'Roboto',sans-serif;

						}
						p.title{
							margin:0;
							padding:0;
							font-size:3.4vw;
							font-weight:bold;
							width:100%;
						}	
					}
				}

			}

		}
	}
}