page-terms-modal {

	ion-header{
		ion-navbar{
			ion-title{
				&.title-ios.title{
					padding:0 3vw;
					div.toolbar-title.toolbar-title-ios{
						text-align:left;
						width:100%;
					}
				}

			}
		}
	}

	ion-footer{
		background-color:#fff;
		text-align:right;
		button{
			color:#488aff;
			background-color:#fff;
			border:0;
			box-shadow:none;
			-webkit-highlight-color:#fff;
			display:inline-block;
			padding:1.5vh;
			text-transform:uppercase;
			font-size:2.5vh;
			margin:0 0 0 2vh;

			&:hover{
				background-color:transparent;
			}
		}
	}

}
