<ion-content (window:resize)="reorient($event)">
	<ion-fab top left *ngIf="!isMobile">
		<button ion-fab (tap)="toHome()"></button>
		<!--ion-fab-list side="right">
		   <button ion-fab mini>Button</button>
		   <button ion-fab mini>Button 2</button>
		</ion-fab-list-->
	 </ion-fab>

	 <section class="main" [ngClass]="{'mobile':isMobile}">
	 	<form name="employee-data">
		 	<span class="header" *ngIf = "isMobile">
		 		<button ion-button (tap)="toHome()"></button>
		 	</span>

	 		<p>Verify your Information</p>
	 		
	 		<ion-row>
			 	<p class="notice">
			 		Kindly notify your HR if the details shown in this form are incorrect. Otherwise, click the proceed button below.
			 	</p>
			 </ion-row>
	 		<ion-row>
	 			<p class="label">
	 				First Name
	 			</p>
	 			<span class="content">
	 				<input type="text" name="firstName" [(ngModel)] = "userData.firstName" [value] = "userData.firstName" readonly="true" />
	 			</span>
	 		</ion-row>
	 		<ion-row>
	 			<p class="label">
	 				Middle Name
	 			</p>
	 			<span class="content">
	 				<input type="text" name="middleName" [(ngModel)] = "userData.middleName" [value] = "userData.middleName"  readonly="true"/>
	 			</span>
	 		</ion-row>
	 		<ion-row>
	 			<p class="label">
	 				Last Name
	 			</p>
	 			<span class="content">
	 				<input type="text" name="lastName" [(ngModel)] = "userData.lastName" [value] = "userData.lastName"  readonly="true"/>
	 			</span>
	 		</ion-row>
	 		<ion-row>
	 			<p class="label">
	 				Company Code
	 			</p>
	 			<span class="content">
	 				<input type="text" name="companyCode" [(ngModel)] = "userData.companyCode"  readonly="true"/>
	 			</span>
	 		</ion-row>
	 		<ion-row>
	 			<p class="label">
	 				Employee ID
	 			</p>
	 			<span class="content">
	 				<input type="text" name="employeeId" [(ngModel)] = "userData.employeeId" [value] = "userData.employeeId"  readonly="true"/>
	 			</span>
	 		</ion-row>
	 		<ion-row>
	 			<p class="label">
	 				Payroll Account
	 			</p>
	 			<span class="content">
	 				<input type="text" name="payrollAccount" [(ngModel)] = "userData.payrollAccount" [value] = "userData.payrollAccount" readonly="true" />
	 			</span>
	 		</ion-row>
	 		<ion-row class="center">
	 			<span>
	 				<ion-checkbox name="valid" [(ngModel)]="valid"></ion-checkbox>
	 				<p>The details shown above are correct</p>
	 			</span>
	 		</ion-row>
	 		<ion-row>
	 			<button ion-button (tap)="close()" [disabled]="!valid">Proceed</button>
	 		</ion-row>
	 	</form>
	 </section>

</ion-content>
