<ion-content [ngClass]="{'mobile':isMobile()}">
	<top-bar></top-bar>
	<side-bar *ngIf = "!isMobile()" [highlights]="'dashboard'"></side-bar>

	<section class="main-content">
		<ion-row>
			<ion-col col-6>
				<div class="credit-box">
					<span>
						<p>Outstanding Credit</p>
						<b class="outstanding">
							{{outstandingCredit | currency:'PHP':'symbol-narrow':'1.2-2'}}
						</b>
					</span>
					<span id="outstanding-bar" class="bar">
						<div [style.width.%]="outstandingCredit*100/50000"></div>
					</span>
				</div>
			</ion-col>

			<ion-col col-6>
				<div class="credit-box">
					<span>
						<p>Available Credit</p>
						<b class="available">
							{{availableCredit | currency:'PHP':'symbol-narrow':'1.2-2'}} / {{(availableCredit+outstandingCredit) | currency:'PHP':'symbol-narrow':'1.2-2'}}
						</b>
					</span>
					<span id="available-bar" class="bar">
						<div [style.width.%]="availableCredit*100/50000"></div>
					</span>
				</div>
			</ion-col>
		</ion-row>

		<!-- start of loans -->
		<ion-row>
			<ion-col col-12>
				<loan #p_loan></loan>
				<preterm #p_term></preterm>
				<submodule [title]="'Portfolio Loans/Loan Status'">
					
					<ion-segment [(ngModel)]="loanStatus" color="primary" (ionChange)="segmentChanged($event)">
						<ion-segment-button value="pending">
							Pending
					    </ion-segment-button>
					    <ion-segment-button value="approved">
					    	Approved
					    </ion-segment-button>
					    <ion-segment-button value="completed">
					    	Completed
					    </ion-segment-button>
						<ion-segment-button value="cancel">
							Pending Pre-termination
					    </ion-segment-button>
					</ion-segment>

					<div [ngSwitch]="loanStatus" class='segmentable'>
						<div *ngSwitchCase = "'pending'">
							<sortable-table *ngIf="loans.pending.length > 0" [data]="loans?.pending" [headers]="sampKeys" [formats]="formats" [header_titles]="hdrTitles" [actions]="actions" (t)="doAction($event)"></sortable-table>
							<p class="no-data" *ngIf="loans.pending.length == 0">
								No data
							</p>
							
						</div>
						<div *ngSwitchCase = "'approved'">
							<!--span class="search">
								<ion-icon name="ios-search"></ion-icon>
								<input type="text" (ionInput)="search($event)" placeholder="Search any fields"/>
							</span-->
							<sortable-table *ngIf="loans.approved.length > 0" [data]="loans?.approved" [headers]="sampKeys" [formats]="formats" [header_titles]="hdrTitles" [actions]="actionsApproved" (t)="doActiveAction($event)"></sortable-table>
							<p class="no-data" *ngIf="loans.approved.length == 0">
								No data
							</p>
							
						</div>

						<!-- end of approved -->

						<div *ngSwitchCase = "'cancel'">
							<!--span class="search">
								<ion-icon name="ios-search"></ion-icon>
								<input type="text" (ionInput)="search($event)" placeholder="Search any fields"/>
							</span-->
							<sortable-table *ngIf="loans.cancel.length > 0"[data]="loans?.cancel" [headers]="sampKeys" [formats]="formats" [header_titles]="hdrTitles" [actions]="actions" (t)="doPretermAction($event)"></sortable-table>
							<p class="no-data" *ngIf="loans.cancel.length == 0">
								No data
							</p>

							<p class="notif" *ngIf="loans.cancel.length > 0">
								Please settle this amount and pay to bxb’s bank account
							</p>
						</div>

						<!-- end of approved -->

						<div *ngSwitchCase = "'completed'">
							<!--span class="search">
								<ion-icon name="ios-search"></ion-icon>
								<input type="text" (ionInput)="search($event)" placeholder="Search any fields"/>
							</span-->
							<sortable-table *ngIf="loans.completed.length > 0" [data]="loans?.completed" [headers]="sampKeys" [formats]="formats" [header_titles]="hdrTitles"></sortable-table>
							<p class="no-data" *ngIf="loans.completed.length == 0">
								No data
							</p>
						</div>
					</div>
				</submodule>
			</ion-col>
		</ion-row>

		<video class="ifrproportion w-100" controls="" autoplay="">
        	<source src="https://d2mls9zgtvu807.cloudfront.net/videos/brickbybrick_intro.mp4?Expires=1534990294&Signature=fNEyoiGBpnD2JcCj-AYz2LDdl3dKXWo47rQlay54DhNOHxHqxIkkmCXaH0y~ssy3P6YfNB6kuZfd0KLNicEzbIQffV4uA-ds9uww63oiKNzKDt3biDCoauPOkzQxHJ6RuDHn5apiYE7bB8abEtTNysLZiunKeUzfzAYug-Jrvgjgd2GptY6Bh~vBfa7rBiGj-Sn5nIF~NiSEkdIahRXJ79v4MhrQwbJcAhU6jQtTxW4lRq70rK-3xmxaR-hC1xGVZKIdokR~Y4W~gAkZBPzxNp0oZZe67lpugzLjtA0GbNuBsnnVIsZr9BRvcXv-cHvt0pZVJR3dxWqcaU624Vgw3w__&Key-Pair-Id=APKAIR235UJVCMWQ3CUQ" type="video/mp4">
        </video>
		<foot></foot>
	</section>

</ion-content>
