// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: "Raleway";
  src: local("Raleway Light"), local("Raleway-Light"), url("https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIYqWqZPAA.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

a,span,div,b,p{
	font-family: 'Raleway', sans-serif;
}

.center{
	text-align:center !important;
}

.alert-md .alert-message{
	overflow:hidden;
}

input[type=date], select{
	-webkit-appearance:none !important;
}

ion-content section.main-content submodule ion-segment.segment{
	.segment-button{
		white-space:initial;
		border-color:#0067ff;
		color:#0067ff;

		&.segment-activated{
			color:#fff;
			background-color:#0067ff;
			border-top-right-radius:8px;
			border-top-left-radius:8px;
		}
	}
}

ion-popover{
	&.top-45{
		.popover-content{
			transform:scale(1) translateY(45px) !important;
		}
	}

	&.mobile{
		.popover-content{
		    font-size: 2.5vh;
		    text-align: center;

		    account-link{
		    	section.content{
		    		padding:3vh;
		    		a.link{
		    			padding:1vh;
		    		}
		    	}
		    }
		}
	}
}

ion-modal.whitemodal{

	div.modal-wrapper{
		height:calc(100% - 2vh);
		width:calc(100% - 2vw);
		top:1vh;
		left:1vw;
	}

	&.mobile{
		div.modal-wrapper{
			height:100%;
			width:100%;
			top:0;
			left:0;
		}
	}

	&.sm:not(.mobile){
		div.modal-wrapper{
			width:calc(650px);
			left:calc(calc(100% - 650px) / 2);
		}
	}
}

ion-toast{
	&.success{
		.toast-wrapper{
			.toast-container{
				background-color: darkgreen;
			}
		}

	}

	&.fail{
		.toast-wrapper{
			.toast-container{
				background-color: darkred;
			}
		}

	}

	.toast-wrapper{
		transform: translateY(25%) !important;
		.toast-container{
			background-color: steelblue;

			.toast-message{
				text-align:center;
			}
		}
	}
}