page-hr-dashboard {
	ion-content.content.content-md{
		background-color:#f7f7f7;

		side-bar{
			section.content{
				background-color: transparent;
			}
		}

		section.main-content{
			display:block;
			padding:1vh 5vw 1vh calc(220px + 1.5vw);

			h2.c-code{
				color: #fff !important;
			    background-color: #0067ff !important;
			    border-color:#bce8f1;
			    display:inline-block;
			    width:auto;
			    padding:15px;
			    margin:0 auto 2vh;
			    font-size:inherit;
			    min-width:40%;
			    border-radius:4px;
			}

		}


	}

}
