page-hr-dashboard {
	ion-content.content{
		background-color:#f7f7f7;

		side-bar{
			section.content{
				background-color: transparent;
			}
		}

		&.mobile{

			section.main-content{
				padding: 1vh 5vw;
				font-size:2.5vh;

				p{
					font-size:2.5vh;
					&.title{
						max-height:auto;
						overflow:initial;
						height:auto;
						padding-bottom:2vh;
					}
				}

				ion-row.row{
					ion-col[col-4].col{
						width:100%;
						max-width:100%;
						flex:none;
					}
				}
			}
		}

		section.main-content{
			display:block;
			padding:1vh 5vw 1vh calc(220px + 1.5vw);

			h2.c-code{
				color: #fff !important;
			    background-color: #0067ff !important;
			    border-color:#bce8f1;
			    display:inline-block;
			    width:auto;
			    padding:15px;
			    margin:0 auto 2vh;
			    font-size:inherit;
			    min-width:40%;
			    border-radius:4px;
			}

		}


	}

}
