header-title {
	header{
		background-color:#3174d7;
		position:relative;
		display:inline-block;
		clear:both;
		width:100%;
		padding:1vw 3vw;
	}

}

.mobile header-title{
	header{
		padding:3vh 3vw;
	}
}
