<ion-content (window:resize)="reorient($event)">
	<ion-fab top left *ngIf="!isMobile">
		<button ion-fab (tap)="toHome()"></button>
		<!--ion-fab-list side="right">
		   <button ion-fab mini>Button</button>
		   <button ion-fab mini>Button 2</button>
		</ion-fab-list-->
	 </ion-fab>

	 <section class="main" [ngClass]="{'mobile':isMobile}">
	 	<form name="employee-data">
		 	<span class="header" *ngIf = "isMobile">
		 		<button ion-button (tap)="toHome()"></button>
		 	</span>
	 		<h2>Enter your Details</h2>
	 		<ion-row>
	 			<p class="label">
	 				Tax Identification Number (TIN)
	 			</p>
	 			<span class="content" [ngClass] = "{'err':tinValid}">
	 				<input (keyup)="ch($event)" type="number" name="tin" [(ngModel)] = "tin" pattern="[0-9]{9,}" placeholder="000000000" />
	 			</span>
	 		</ion-row>
	 		<ion-row>
	 			<p class="label">
	 				Birthday
	 			</p>
	 			<span class="content month">
	 				<select name="month" [(ngModel)] = "birth.month">
	 					<option *ngFor = "let m of month; let i=index" [value]="m">{{months[m]}}</option>
	 				</select>
	 			</span>
	 			<span class="content day">
	 				<select name="day" [(ngModel)] = "birth.day">
	 					<option *ngFor = "let d of day; let i=index" [value]="d">{{d}}</option>
	 				</select>
	 			</span>
	 			<span class="content year">
	 				<select name="year" [(ngModel)] = "birth.year">
	 					<option *ngFor = "let y of year; let i=index" [value]="y">{{y}}</option>
	 				</select>
	 			</span>
	 		</ion-row>
	 		<ion-row>
	 			<button ion-button (tap)="verify()" [disabled]="tinValid">Submit</button>
	 		</ion-row>
	 	</form>
	 	<foot></foot>
	 </section>

</ion-content>
