<!-- Generated template for the TopBarComponent component -->
<section class="content"  [ngClass]="{'mobile':isMobile()}">
	<div class="nav">
		<ion-row>
			<ion-col col-4>
				<!--span class="searchBar">
					<input type="text" (ionInput)="search($event)" placeholder="Search"/>
					<ion-icon name="ios-search"></ion-icon>
				</span-->
			</ion-col>
			<ion-col col-8>
				<span class="notifs">
					<button ion-button class="notification" (tap)="presentNotifs($event)">
						<div class="img-cnt">
							<img src="../../assets/imgs/notifbell.png"/>
						</div>
						<ion-icon name="md-arrow-dropdown"></ion-icon>
					</button>
				</span>
				<img #pic class="profilePic" (tap)="presentMyAcc($event)"/>
			</ion-col>
		</ion-row>
	</div>
</section>