top-bar {
		display:inline-table;
	section.content{
		display:inline-table;
		position:relative;
		padding:1vh 3vw 1vh 220px;
		width:100vw;
		margin:0;
		height:15vh;

		&.mobile{
			padding:2vh 4vw;
			background-color:#264568;
			box-shadow:2px 2px 9px 1px #555;

			div.nav{
				vertical-align:middle;
				ion-row.row{
					ion-col{
						&[col-8]{
							flex:0 0 33.33333%;
							width:33.33333%;
							max-width:33.33333%;
							white-space:nowrap;
						}

						&[col-4]{
							flex:0 0 66.66667%;
							width: 66.66667%;
							max-width:66.66667%;
						}
					}
				}
			}
		}

		div.nav{
			display: table-cell;
			vertical-align: bottom;
			ion-row{
				height:50px;
				position:relative;
				ion-col{
					span.searchBar{
						display:inline-table;
						vertical-align:middle;
						background-color:#fff;
						border-radius:4px;
						border: 1px solid #ccc;
						box-shadow: 0 0 0;
						padding:0.75rem;
						width:100%;
						margin:auto;

						ion-icon{
							height:90%;
							width: auto;
							font-size:22px;
							float:right;
						}

						input{
							border:0;
							box-shadow:none;
							-webkit-appearance:none;
							max-width:80%;
							height: 100%;
						}
					}

					&[col-8]{
						text-align:right;
						display:table;
						height:100%;
						padding:0;

						span.notifs{
							display:inline-table;
							vertical-align:middle;
							background-color:#337ab7 !important;
							border: 1px solid #2e6da4;
							border-radius:4px;

							button{
								filter:invert(100%);
								padding:0.5rem;
								width:auto;
								height:40px;
								background-color:transparent;
								box-shadow:none;
								margin:0;

								div.img-cnt{
									display:inline-block;

									img{
										display:block;
										height:30px;
										width:30px;
										box-shadow:none;
										margin:0;
									}
								}
								ion-icon{
									display:inline-block;
									margin:0 0 0 4px;
									color:#000;
								}
							}
						}

						img{
							display:inline-table;
							vertical-align:middle;
							height:45px;
							width:45px;
							margin:auto 10px;
							border-radius:100%;
							border:0;
							box-shadow:0 0 3px 2px #0067ff;
							cursor:pointer;
						}

						a.link{
							display:table-cell;
							vertical-align:middle;
							width:auto;
							font-size:18px;
							text-transform:capitalize;
							width:200px;
							text-align:left;
							padding-left:25px;
							cursor:pointer;
						}
					}

				} // end of ion-col

			} // end of ion-row

		}
	}
}
