page-employee-dashboard {
	ion-content.content{
		background-color:#f7f7f7;

		side-bar{
			section.content{
				background-color: transparent;
			}
		}

		&.mobile{

			section.main-content{
				padding: 1vh 5vw;
				font-size:2.5vh;

				p{
					font-size:2.5vh;
					&.title{
						max-height:auto;
						overflow:initial;
						height:auto;
						padding-bottom:2vh;
					}
				}

				&>ion-row.row{
					ion-col[col-6]{
						flex:0 0 100%;
						max-width:100%;
						width:100%;
					}
				}

				div.slider-form{
					div.credit-form{

						ion-row{

							ion-col{
								ion-item{
									padding:0;
								}
								&[col-10]{
									flex:0 0 70%;
									max-width:70%;
									width:70%;
								}
								&[col-1]{
									flex:0 0 15%;
									max-width:15%;
									width:15%;
								}
							    &[col-3]{
							    	flex:0 0 40%;
							    	max-width:40%;
							    	width:40%;
							    }
							    &[col-9]{
							    	flex:0 0 60%;
							    	max-width:60%;
							    	width:60%;
							    }
							}
						}

					}
				}

				div.usage{
					ion-row{
						ion-col.col{
							flex:0 0 50%;
							max-width:50%;
							width:50%;
							&[col-4]{
								flex:0 0 100%;
								max-width:100%;
								width:100%;
							}
							&[col-1]{
								ion-icon{
									font-size:4vh;
									display:inline-block;
									vertical-align:middle;
								}
								flex:0 0 100%;
								max-width:100%;
								width:100%;
								p{
									display:inline-block;
									margin:0;
									vertical-align:middle;
								}
								padding:1vh 0;

							}
						}

					}
				}

				button[ion-button]{
					width:60vw;
				}

			}
		}

		section.main-content{
			display:block;
			padding:1vh 2vw 1vh;
			margin-left:0.5vw;
			padding-left:$side-bar-width;

			&>ion-row{
				padding-top:10vh;
				&>ion-col[col-6]{
					div.credit-box{
						position:relative;
						span:not(.bar){
							position:relative;
							display:block;
							padding:2vh 4vh;
							box-shadow: 0 0 6px 1px #888;
							border-radius:12px 12px 0 0;
							p{
								font-size:2.3vh;
								margin:1vh 0;
								width:100%;
							}

							b{
								font-family:'Roboto',sans-serif;
								font-size:4vh;
							}
						}
						span.bar{
							width:100%;
							display:inline-block;
							margin:0;
							clear:both;
							height:7.5vh;
							background-color:lightgray;
							position:relative;
							text-align:left;
							border-radius: 0 0 12px 12px;
							//box-shadow: 0 0 6px 1px #888;
							overflow:hidden;
							div{
								display:inline-block;
								height:100%;
								position:relative;
								background-color:#315A96;
							}

							&#outstanding-bar{

							}

							&#available-bar{

							}
						}
					}
				}

			}//end of ion-row

			div.slider-form{
				margin-top:3vh;
				div.credit-form{
					input[type=number]{
						padding: 1.5vh;
    				    border-radius: 4px;
    				    border: 0;
    				    -webkit-appearance: none;
    				    box-shadow: 0 0 2px 0 #888;
    				    font-size: 2.5vh;
    				    width:100%;
    				    text-align:center;
					}
					ion-row{
						ion-col[col-9]{
							font-size:2.5vh;
							padding-left:3vw;
						}
					    ion-col[col-1]{
					    	text-align:left;
					    	ion-icon{
					    		font-size:5vh;
					    		display:inline-block;
					    		padding:1.5vh;
					    		color:#315A96;
					    		cursor:pointer;
					    	}
					    	&:first-of-type{
					    		text-align:right;
					    	}
					    }
					    ion-col[col-3]{
					    	text-align:right;
					    }
					}

					p.small{
						margin:1vh auto 1vh;
						padding-left:3vw;
					}
				}
			}


			div.usage{
				margin-top:5vh;
				ion-row{
					ion-col{
						padding-left:1vw;
						font-weight:bolder;
						span{
							&>*{
								display:inline-block;
								vertical-align:middle;
							}
							b{
								font-family:'Roboto','sans-serif';
							}
						}

						p{
							margin:0;
							color:gray;
							padding:0.25vw 0;
							display:block;
							clear:both;
							white-space:nowrap;
							//font-family:'Roboto','sans-serif';
						}

						select{
							height:100%;
							width:100%;
							position:relative;
							padding:0.5vh 1vw;
							border-radius:4px;
						}

						img{
							width:18px;
						}

						ion-icon{
							font-size:23px;
						}
					}
				}
			}

			button[ion-button]{
				background-color:#315A96;
				padding:3vh 8vw;
				border-radius:20px;
				margin:10vh auto 2vh;
				display:block;
				text-transform:uppercase;
			}
		} // end of section.main-content	


	}

}
