<ion-content (window:resize)="reorient($event)" [ngClass]="{'mobile':isMobile}">
	<top-bar></top-bar>
	<side-bar *ngIf = "!isMobile" [highlights]="'employees'"></side-bar>

	<section class="main-content">

		<ion-row>
			<ion-col col-12>
				<p class="header-top">
					Employees
				</p>

				<div class="nav">
					<ion-row>
						<ion-col col-6>
							&nbsp;
						</ion-col>
						<ion-col col-6>
							<button ion-button class="add-employee" (tap)="addNew()">
								<ion-icon name="md-add-circle">
								</ion-icon>
								Add New
							</button>
						</ion-col>
					</ion-row>
				</div>

			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col col-12>
				<submodule [title]="'Active Members'" *ngIf="activeEmployees.length > 0">
					<sortable-table [data]="activeEmployees" [headers]="sampKeysA" [formats]="formatsA" [header_titles]="hdrTitlesA"></sortable-table>
					
				</submodule>
			</ion-col>
		</ion-row>
		<!-- end active members -->

		<ion-row>
			<ion-col col-12>
				<submodule [title]="'Members'"  *ngIf="employees.length > 0">
					<sortable-table [data]="employees" [headers]="sampKeysE" [formats]="formatsE" [header_titles]="hdrTitlesE"></sortable-table>
					
				</submodule>
			</ion-col>
		</ion-row> 
		<!-- end members -->

		<ion-row>
			<ion-col col-12>
				<submodule [title]="'Pending Member Registration'" *ngIf="pendingMembers.length > 0">
					<sortable-table [data]="pendingMembers" [headers]="sampKeysP" [formats]="formatsP" [header_titles]="hdrTitlesP"></sortable-table>
					
				</submodule>
			</ion-col>
		</ion-row> 
		<!-- end pending members -->

		<ion-row>
			<ion-col col-12>
				<submodule [title]="'Flagged Members'" *ngIf="flaggedEmployees.length > 0">
					<sortable-table [data]="flaggedEmployees" [headers]="sampKeysF" [formats]="formatsF" [header_titles]="hdrTitlesF"></sortable-table>
					
				</submodule>
			</ion-col>
		</ion-row> 
		<!-- end flagged members -->
		<foot></foot>
	</section>

</ion-content>
