submodule {
	display:block;
	position:relative;
	height:100%;
	width:100%;
	padding:1.5vh;
	section.body{
		position:relative;
		display:block;

		div.container{
			box-shadow:0 0 5px 0px #333;
			border-radius:12px 12px 20px 20px;
		}

		div{
			position:relative;
			display:inline-table;
			width:100%;
			&.main-content{
				font-family: "Roboto",Helvetica,Arial,sans-serif;
				font-size: 14px;
				line-height: 1.42857143;
				color: #333;
				border-radius: 12px 12px 0px 0;
				background: #fff;
				padding: 2vh 2vw;
				min-height:25vh;
				display:flex;
				box-shadow:none;
			    flex-basis: auto;
			    justify-content: center;
			    align-content: center;
			    flex-direction: column;
				p{
					margin:0 auto;
				}
			}
			&.footer{
				background-color: #0067ff;
				padding: 15px 15px;
				height: 54px;
				border-bottom-right-radius: inherit;
				border-bottom-left-radius: inherit;
				color:#fff;
				text-align:right;
				font-size:16px;
				box-shadow:none;
				a{
					color:inherit;
					text-decoration:none;
				}
			}
		}

		p.title{
			color:#333;
			position:relative;
			margin:0 auto;
			font-size:24px;
			display:inline-block;
			height:12vh;
			max-height:12vh;
			width:100%;
			clear:both;
			overflow:hidden;
		}

		div.search-container{
			position:absolute;
			top:5.5vh;
			span.search{
				display:inline-block;
				border-radius:4px;
				box-shadow: 0 0 1px 0px #333;
				width:auto;
				margin:auto;
				padding:0.4vw;
				position:relative;
				background-color:#fff;
				ion-icon{
					position: absolute;
				    top: 0;
				    left: 0;
				    display: block;
				    height: 100%;
				    width: 40px;
				    font-size: 20px;
				    text-align: center;
				    padding: 7px;
				    background-color: lightgray;
				    color:#333;
				}
				input{
					border:0;
					margin-left:40px;
					width:200px;
					height: 25px;
				}
			}
		}

	}
}

ion-app.mobile{
	submodule{
		div.container{
			box-shadow:0px 0 4px 0px #888;
			border-radius:4px;

			.main-content{
				font-size:2.4vh;
				padding:0;

				ion-segment-button{
					font-size:3.5vw;
				}
			}
		}

		div.search-container{
			position:relative;
			top:0;
			margin:2vh auto;
			text-align:center;
			span.search{
				width:80%;
				input{
					height:25px;
				}
				padding:0.5rem;
			}
		}
	}
}