<ion-content [ngClass]="{'mobile':isMobile()}">
	<top-bar></top-bar>
	<side-bar *ngIf = "!isMobile()" [highlights]="'education'"></side-bar>

	<section class="main-content">
		
		<p class="header-top">
			Financial Education
		</p>
		<div class="video-segment">
			<iframe src="//youtube.com/embed/WVfaxLDyrTc" frameborder="0" allowfullscreen></iframe>
		</div>

		<hr class="divider">

		<blockquote>
			<p>
			Educators work to include a wide array of studies within the required curriculum for young adults. However, according to FORBES, there’s a key component of life in which students of all ages aren’t gaining enough knowledge.</p>

			<p>Even though financial literacy is crucial to successful “adulting,” FORBES reports that a mere 17 states require high school students to take a course on financial literacy. These courses have proven to have a direct impact on a student’s ability to make wise financial decisions. Plus, students who have some personal finance classes under their belts are much more likely to successfully save money, budget wisely and invest smarter. </p>

			<p>Perhaps we should reevaluate how we’re educating students (or not educating students) on these important life aspects. Until that change happens, though, here are the five key concepts, as listed by FORBES, to work on in order to improve your financial literacy. Mastering these aspects won’t always be easy but, with a little bit of practice, will benefit you for a lifetime. </p>

			<ol>
			<li><b>Budgeting Basics</b>
				<br/>

				<p>Creating and maintaining a budget is one of the most basic aspects of staying on top of your finances. In this modern day, it’s easier than ever to create a budget with the help of websites and apps, such as Mint.com. </p>

				<p>It doesn’t matter if math isn’t your strong suit - thanks to these user-friendly tools, everyone can get help with keeping their finances on track. And, when utilized properly, they'll keep you in the know about where your money is actually going. </p>

				<p>Without following a budget, it’s difficult to hold yourself accountable on where your money is coming from and what it’s going toward, so mastering the basics of budgeting is where any financial novice should begin.</p>
			</li>
			<li><b>The Impact of Interest</b>

				<p>While you may touch upon the concepts within a mathematics course, it’s important to understand different aspects, like compound interest. Why? Not only can it help you save even more, but it can make the difference between borrowing a small amount and paying back much more than you need to for years to come. </p>

				<p>Understanding the ins and outs of interest can impact your finances more than you likely realize, so it’s an important concept to gain a better understand of early on in life.</p>
			</li>

			<li><b>Staying Savvy by Saving</b>

				<p>Obviously, saving is an important aspects of maintaining a healthy financial situation. But, the majority of students don’t prioritize this aspect as much as they should. It’s easy to ignore things like retirement since it seems so far off in the future. </p>
				<p>Learning to save early on can help you gain the knowledge, practice and set of skills you’ll utilize throughout your entire life.</p> 

				<p>Beginners can start working on this concept in the simplest sense, like saving money for a higher-ticket item they desire. Working toward a goal is key here and students need to understand that there’s a lot of value in paying yourself first – because the bills will always be there. Having peace of mind? Well, that comes with practice, diligence and patience, all qualities you’ll develop when mastering your savings skill set.</p>
			</li>

			<li><b>The Credit-Debt Roller-coaster</b>

				<p>Maybe roller-coaster isn’t the right term – perhaps, downward spiral is more accurate. Meaning: it’s much easier to lose credit than gain it and many students don’t realize how easy it is to ruin their credit – and how difficult it can be to regain credit – before it’s too late. That’s why it’s crucial to provide knowledge on debt earlier than later. </p>

				<p>Credit can be an extremely useful tool – if it’s managed correctly. Making rash decisions when you’re young can end up costing you throughout adulthood so it’s important to grasp the concepts and tools behind responsible credit practices as early on as possible.</p>
			</li>
			<li><b>Identity Theft Issues & Safety</b>

				<p>In this modern day and age, identity theft is more prevalent than ever. Since everything is digital and just about everyone has shopped online at one point or another, your financial information is more vulnerable to fraud. Understanding this concept, along with preventative measures, like password protection and limiting the amount of information shared online can be the key to maintaining safe accounts or, inversely, can lead to financial ruin.</p>

				<p>While it’s not a fool proof science (people can be safe and things do still happen) it’s important to safeguard your finances as best as possible to avoid the threats that exist. </p>
			</li>
			</ol>
		</blockquote>

		<hr class="divider">

		<div class="short quiz">
			<p class="title">
				Short Quiz - True or False ({{trueOrFalse.length}} items)
			</p>

			<span class="item i{{i+1}}" *ngFor="let q of trueOrFalse; let i = index">
				<p class="question">
					{{i+1}}. {{q?.q}}
				</p>
				<span class="choices c{{i+1}}">
					<div class="selection s1">
						<a class="checkmark" [ngClass]="{'checked':trueOrFalse[i].s == '1'}">
							<input type="radio" name="s1" value="1" [(ngModel)]="trueOrFalse[i].s"/>
						</a>
						<b class="text">{{q.c[1]}}</b>
					</div>
					<div class="selection s2">
						<a class="checkmark" [ngClass]="{'checked':trueOrFalse[i].s == '0'}">
							<input type="radio" name="s1" value="0" [(ngModel)]="trueOrFalse[i].s"/>
						</a>
						<b class="text">{{q.c[0]}}</b>
					</div>
				</span>
			</span>

			

		</div>

		<hr class="divider">

		<div class="long quiz">
			<p class="title">
				Long Quiz - Multiple Choice ({{multipleChoice.length}} items)
			</p>

			<span class="item i1" *ngFor="let q of multipleChoice; let i = index">
				<p class="question">
					{{i+1}}. {{q?.q}}
				</p>
				<span class="choices c{{i+1}}">
					<div class="selection s{{j+1}}" *ngFor="let s of q.c | keys; let j = index">
						<a class="checkmark" [ngClass]="{'checked':multipleChoice[i].s == getChoiceKey(j)}">
							<input type="radio" name="c{{i+1}}" value="{{getChoiceKey(j)}}" [(ngModel)]="multipleChoice[i].s"/>
						</a>
						<b class="text" (tap)="setAnswer(i,getChoiceKey(j))">{{s}}</b>
					</div>
				</span>
			</span>

		</div>

		<hr class="divider">

		<div class="matching quiz">
			<p class="title">
				Matching Type ({{matching.length}} items)
			</p>

			<ion-row>
				<ion-col col-6 class="head">
					<p><b>Items</b></p>
					<ion-row *ngFor="let m of matching; let i = index;">
						<ion-col col-12>
							<div class="dropper" (drop)="drop($event,i)" (dragover)="allowDrop($event)">
								<input type="text" [(ngModel)]="matching[i].a" readonly="true" [ngClass]="{'answered':matching[i].a != ''}"/>
							</div>
							<span class="text">{{i+1}}. {{m?.q}}</span>
						</ion-col>
					</ion-row>
				</ion-col>
				<ion-col col-6 class="head">
					<p><b>Answers</b></p>
					<ion-row>
						<ion-col col-12>
							<div class="answer" id="ans1" draggable="true" (dragstart)="drag($event)">Answer Key 1</div>
						</ion-col>
						<ion-col col-12>
							<div class="answer"  id="ans2" draggable="true" (dragstart)="drag($event)">Answer Key 2</div>
						</ion-col>
						<ion-col col-12>
							<div class="answer"  id="ans3" draggable="true" (dragstart)="drag($event)">Answer Key 3</div>
						</ion-col>
						<ion-col col-12>
							<div class="answer"  id="ans4" draggable="true" (dragstart)="drag($event)">Answer Key 4</div>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>

		</div>

		<foot></foot>
	</section>

</ion-content>
