page-education {
	ion-content.content{
		background-color:#f7f7f7;

		side-bar{
			section.content{
				background-color: transparent;
			}
		}

		&.mobile{

			section.main-content{
				padding: 1vh 5vw;
				font-size:2.5vh;

			}
		}

		hr{
			height:0.4vh;
			background-color:#333;
			margin:5vh auto;
		}

		section.main-content{
			display:block;
			padding:1vh 2vw 1vh;
			margin-left:0.5vw;
			padding-left:$side-bar-width;

			p.header-top{
				font-size:24px;
				font-weight: 700;
			}

			div.video-segment{
				display:block;
				clear:both;
				margin:2vh auto;

				iframe{
					width:600px;
					height:400px;
					margin:0 auto;
					display:table;
				}
			}

			div.quiz{
				padding:1vh 5vw;
				display:block;
				width:100%;

				p.title{
					font-size:4vh;
					margin:3vh auto 2vh;
					width:100%;
				}

				span.item{
					display:block;
					width:100%;
					margin:1vh auto;

					p.question{
						font-size:16px;
						font-weight:500;
						margin:0.5vh auto;
					}

					span.choices{
						display:block;
						clear:both;
						width:100%;
						margin:1vh auto;

						div.selection{
							width:100%;
							white-space:nowrap;
							display:block;
							margin:1vh auto;
							padding:0.5vh;

							a{
								display:inline-block;
								vertical-align:middle;
								height:2.5vh;
								width:2.5vh;
								position:relative;
								border-radius:100%;
								border:1px solid #333;
								input{
									position:absolute;
									top:0;
									left:0;
									height:100%;
									width:100%;
									opacity:0;
								}
								&.checked{
									&:after{
										content:"";
										position:absolute;
										top:0vh;
										left:0vh;
										height:calc(2.5vh - 2px);
										width:calc(2.5vh - 2px);
										background-color:steelblue;
										border-radius:100%;
									}
								}
							}

							b{
								display:inline;
								vertical-align:middle;
							}
						}
					}
				}

				&.matching{
					div.dropper{
						display:inline-block;
						width:auto;
						vertical-align:bottom;
						input{
							display:block;
							clear:both;
							border-radius:8px;
							padding:0.5vh 0;
							border:none;
							box-shadow: 0 0 2px 1px #333;
							text-align:center;
							width:16vh;
							&.answered{
								color:#fff;
								background-color:steelblue;
							}
						}
					}
					span.text{
						display:inline-block;
						width:auto;
						vertical-align:bottom;
						margin-left:0.5vw;
					}

					div.answer{
						display:block;
						clear:both;
						border-radius:8px;
						padding:0.5vh 0;
						border:none;
						box-shadow: 0 0 2px 1px #333;
						color:#fff;
						background-color:steelblue;
						text-align:center;
						width:16vh;
					}
				}
			}
		

			button[ion-button]{
				background-color:#315A96;
				padding:3vh 8vw;
				border-radius:20px;
				margin:10vh auto 2vh;
				display:block;
				text-transform:uppercase;
			}
		} // end of section.main-content	


	}

}
