page-flagging {
	ion-content.content{
		background-color:#f7f7f7;

		side-bar{
			section.content{
				background-color: transparent;
			}
		}

		&.mobile{

			section.main-content{
				padding: 1vh 5vw;
				font-size:2.5vh;

				submodule{
					padding:0;
					div.main-content{
						padding:0;
					}
				}

				p{
					font-size:2.5vh;
					&.title{
						max-height:auto;
						overflow:initial;
						height:auto;
						padding-bottom:2vh;
					}
				}

				ion-row.row{
					ion-col.module{
						width:100%;
						max-width:100%;
						flex:none;
					}
					&.data{
						ion-row{
							width:100%;
						}
						ion-col{
							font-size:2vh;
							padding:1vh;
							font-weight:normal;
							text-align:left;
							p{
								font-size:1.8vh;
								display:block;
								width:100%;
								clear:both;
								font-weight:bolder;
								font-family:'Roboto',sans-serif;
							}
						}
					}
				}
			}
		}

		section.main-content{
			display:block;
			padding:1vh 2vw 1vh;
			padding-left:$side-bar-width;

		}


	}

}
